extends layout

block layout-content
  div.View.Austria

    h1.Banner Austria
    div.Message
      div.Title
      h1 Informacje o Austrii
      h3 Stolica: Wiedeń    
      h3 Liczba ludności: 8,859 miliona
      h3 Waluta: Euro
    div.NavButtons
      a(href="/koniec")
          div.NavButton Wykonał !