extends layout

block layout-content
  div.View.Koniec

    h1.Banner Programowanie zaawansowane II
    div.Message
      div.Title
      h1 Projekt Wykonał
      h3 Mateusz Bełtowski    
      h3 Numer Albumu: 96644
    div.NavButtons
      a(href="/norwegia")
          div.NavButton Norwegia !