extends layout

block layout-content
  div.View.Norwegia

    h1.Banner Norwegia
    div.Message
      div.Title
      h1 Informacje o Norwegii
      h3 Stolica: Oslo    
      h3 Liczba ludności: 5,368 miliona
      h3 Waluta: Korona norweska
    div.NavButtons
      a(href="/wlochy")
          div.NavButton Włochy !
   
    