extends layout

block layout-content
  div.View.Wlochy

    h1.Banner Włochy
    div.Message
      div.Title 
      h1 Informacje o Włoszech
      
      h3 Stolica: Rzym    
      h3 Liczba ludności: 60,409 mln
      h3 Waluta: Euro
    div.NavButtons
      a(href="/austria")
        div.NavButton Austria !